.place__like-button {
  background: url(../../../images/like.svg) no-repeat;
  width: 23px;
  height: 20px;
  border: 0;
  background-position: center;
  margin: auto 0;
}

.place__like-button:active {
  background: url(../../../images/blackhurt.png);
}